{% extends 'blog/base.html' %}
{% block content %}

    {% for post in posts %}
        <div class="card text-center mt-2">
            <div class="card-header">
                <img src="{{ post.author.profile.image.url } }" alt="" class="rounded-circle">
            {{post.author}}
            </div>
            <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
            <a href="#" class="btn btn-primary">Read</a>
            </div>
            <div class="card-footer text-muted">
            {{post.date_posted}}
            </div>
        </div>
    {% endfor %}

{% endblock %}