{% extends 'blog/base.html' %}
{% block content %}

    {% for post in posts %}
        <div class="card text-center mt-2">
            <div class="card-header">
                <img src="{{ post.author.profile.image.url }}" alt="" class="rounded-circle">
                <a href="{% url  'user-posts' post.author.username%}">{{ post.author }}</a>
            </div>
            <div class="card-body">
            <a href="{% url 'post-detail' post.id %}" class="card-title">{{post.title}}</a>
            <p class="card-text">{{post.content}}</p>
            <a href="#" class="btn btn-primary">Read</a>
            </div>
            <div class="card-footer text-muted">
            {{post.date_posted}}
            </div>
        </div>
    {% endfor %}
    <!-- {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
               <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
        {% endif %}

    {% endif %} -->

    <!-- <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div> -->
{% endblock %}